.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 10vh 0;
}

.social-link img {
    width: 120%;
    height: auto;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}
